body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #E65763, #34073D);
    color: #FFF;
    text-align: center;
    padding-top: 30px;
}

#tasks-container {
    width: 500px;
    margin: auto;
}

/* tasks form */
#tasks-header {
    margin-top: 40px;
}

#add-task-form {
    position: relative;
}

#add-task-form input {
    box-sizing: border-box;
    border: 1px solid #34073D;
    color: #34073D;
    padding: 15px;
    font-size: 18px;
    width: 500px;
}

#add-task-form input::placeholder {
    color: #34073D;
}

#add-tasks-form input:focus {
    outline: none;
}

#add-btn {
    position: absolute;
    background-color: #FFF;
    border: 1px solid #34073D;
    cursor: pointer;
    transition: .5s;
    width: 60px;
    height: 53px;
    padding-top: 3px;
}

#add-btn:hover {
    background-color: #34073D;
    color: #FFF;
}

ion-icon {
    font-size: 25px;
}

/* tasks container */
#tasks-list {
    list-style: none;
    padding-left: 0px;

}

#tasks-list li {
    text-align: left;
    height: 50px;
    width: 100%;
    line-height: 50px;
    position: relative;
    border-bottom: 3px solid #34073D;
    background-color: white;
    color: #34073D;
    margin-bottom: 10px;
    padding-left: 15px;
    transform: .5s;
    font-weight: bold;
}

#tasks-list li span {
    font-size: 18px;
}

#tasks-list ion-icon {
    position: absolute;
    top: 0;
    height: 40px;
    transform: .5s;
    cursor: pointer;
    width: 30px;
    padding: 5px;
}

.done-btn {
    right: 40px;
}

.done-btn:hover {
    background-color: #09E01B;
    color: #FFF;
}

.remove-btn {
    right: 0px;
}

.remove-btn:hover {
    color: #FFF;
    background-color: #EB0927;
}

.hide {
    display: none;
}

#tasks-list li.done {
    color: #FFF;
    background-color: #34073D;
    text-decoration: line-through;
}