@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(197, 66, 66);
}

main > h1 {
    color: white;
}

main > div {
    margin-top: 50px;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
}

main > div > p {
    padding: 10px;
}

main > div > button {
    background-color: rgb(41, 138, 138);
    color: white;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin-top: 40px;
}