@charset "UTF-8";

:root {
    --bg-main: #0F172A;        /* fundo principal (azul bem escuro) */
    --bg-card: #1E293B;        /* cards / caixas */
    --primary: #38BDF8;        /* ações principais (botões, destaques) */
    --secondary: #22C55E;      /* sucesso */
    --danger: #EF4444;         /* erro / remover */
    --warning: #FACC15;        /* avisos */
    --text-main: #E5E7EB;      /* texto principal */
    --text-muted: #94A3B8;     /* texto secundário */
    --border: #334155;         /* bordas */
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(#1d2f58, var(--bg-main));
    display: flex;
    justify-content: center;
    align-items: center;
}

body > div {
    width: 400px;
    padding: 20px;
    background-color: var(--bg-card);
    box-shadow: 0px 0px 10px #5f7daf57;

}

header > p {
    color: var(--text-main);
    text-align: center;
    font-weight: bold;
}

main > p {
    display: flex;
    flex-flow: column;
}

main > p > label {
    color: var(--text-main);
}

main > p > input {
    height: 30px;
}

main > #menu > .menu-control {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}

.wide {
  grid-column: 1 / -1; /* ocupa as duas colunas */
}

main > #menu > .menu-control > button {
    background-color: var(--primary);
    padding: 5px;
    color: white;
    list-style-type: none;
}

main > #menu > .menu-info {
    color: var(--text-main);
    margin-top: 20px;
}

main > #lista ul {
    margin-top: 20px;
    list-style-type: none;
    color: white;
}

main > #lista li {
    background-color: var(--primary);
    border: 1px solid var(--border);
    padding: 5px;
    margin: 5px 0px 5px 0px;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.459);
}

main > #lista button {
    background-color: var(--text-main);
    color: var(--danger);
    padding: 0px 5px 0px 5px;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.493);
}

main > #mensagens #msg-erro {
    background-color: var(--warning);
    text-align: center;
    color: var(--bg-main);
    margin: auto;
    display: none;
}

main > #mensagens #msg-sucesso {
    background-color: var(--secondary);
    text-align: center;
    color: white;
    margin: auto;
    display: none;
}